@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
pre {
  font-family: inherit;
}

button {
  background: none;
}

input::-ms-clear {
  display: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    padding: 0 8px;
  }
}

section,
article,
header,
footer,
aside {
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Comfortaa", cursive;
  min-width: 576px;
  min-height: 100vh;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.h1 {
  font-weight: 700;
  font-size: 60px;
  text-transform: capitalize;
  line-height: 72px;
  color: #25202F;
}

.h2 {
  font-weight: 700;
  font-size: 36px;
  text-transform: none;
  line-height: 47px;
  color: #25202F;
}

.h3 {
  font-weight: 500;
  font-size: 24px;
  text-transform: none;
  line-height: 32px;
  color: #25202F;
}

.extratext {
  font-weight: 400;
  font-size: 20px;
  text-transform: none;
  line-height: 27px;
  color: #7E7F86;
}

.textbig {
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 23px;
  color: #8643DC;
}

.text {
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  line-height: 32px;
  color: #636066;
}

.nav-active {
  color: #000;
  font-weight: 500;
}

.hr-h2 {
  display: inline-block;
}

.hr-h2::after {
  position: relative;
  bottom: 21px;
  left: 0;
  content: "";
  display: block;
  height: 10px;
  background: rgba(73, 69, 255, 0.2);
}

.btn-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#716fff), to(#4945ff));
  background: linear-gradient(180deg, #716fff 0%, #4945ff 100%);
  border-radius: 10px;
  padding: 17px 57px;
  color: black;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.header__nav {
  margin-left: 60px;
}

.header__nav button {
  margin-left: 40px;
}

.header__h3 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
}

.header__body {
  margin-top: 125px;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__talk {
  color: #fff;
  padding: 20px 45px;
  background: #8643DC;
  border-radius: 100px;
  font-weight: 500;
}

.header__avatar {
  position: relative;
  width: 535px;
}

.header__avatar-bg {
  z-index: -1;
  position: absolute;
  top: -235px;
  left: -376px;
}

.header__avatar .bounce {
  position: absolute;
  top: -84px;
}

.header__avatar-img {
  position: absolute;
  z-index: 1;
  width: 530px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  left: 60%;
}

.portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(#fbf8ff1f), color-stop(25%, #8421ff0f), color-stop(50%, #7f1eff14), color-stop(75%, #ba0ff214), to(#f8f4fd1f));
  background: linear-gradient(180deg, #fbf8ff1f 0%, #8421ff0f 25%, #7f1eff14 50%, #ba0ff214 75%, #f8f4fd1f 100%);
  padding-bottom: 100px;
}

.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.portfolio__button {
  position: relative;
}

.portfolio__button::before {
  content: "";
  position: absolute;
  width: 205px;
  height: 1px;
  top: 60px;
  background: #000;
}

.portfolio__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.portfolio__project {
  width: 540px;
  height: 427px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background: #f5def0;
  -webkit-filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.3));
          filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.3));
  border-radius: 10px;
}

.portfolio__project-style {
  margin-left: 22px;
  background: #dadcf5;
}

.portfolio__img1 {
  width: 340px;
  height: 400px;
  z-index: 1;
  margin-left: 12px;
  position: absolute;
  top: 27px;
}

.portfolio__img2 {
  width: 214px;
  height: 427px;
  position: absolute;
  left: 308px;
}

.portfolio__scrin {
  max-width: 100%;
  max-height: 100%;
}

.block__textbig {
  position: relative;
  margin-bottom: 25px;
}

.block__textbig::before {
  content: "";
  position: absolute;
  width: 71px;
  height: 2px;
  bottom: -10px;
  background: #8643DC;
}

.skills {
  margin-bottom: 100px;
}

.skills__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.skills__wrapp-item {
  width: 170px;
  height: 170px;
  text-align: center;
}

.skills__wrapp-item-1 {
  background: #fff7fa;
  border: 1px solid #ffe7f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 80px rgba(247, 212, 223, 0.7);
          box-shadow: 0 0 80px rgba(247, 212, 223, 0.7);
  -webkit-animation: light 4s forwards ease-out infinite;
          animation: light 4s forwards ease-out infinite;
}

.skills__wrapp-item-2 {
  background: #edfff5;
  border: 1px solid #caffe1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 80px rgba(221, 255, 236, 0.7);
          box-shadow: 0 0 80px rgba(221, 255, 236, 0.7);
  -webkit-animation: light 4s forwards ease-out 0.5s infinite;
          animation: light 4s forwards ease-out 0.5s infinite;
}

.skills__wrapp-item-3 {
  background: #f5fcff;
  border: 1px solid #ddf5ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 80px rgba(215, 241, 253, 0.7);
          box-shadow: 0 0 80px rgba(215, 241, 253, 0.7);
  -webkit-animation: light 4s forwards ease-out 1s infinite;
          animation: light 4s forwards ease-out 1s infinite;
}

.skills__wrapp-item-4 {
  background: #fffbf2;
  border: 1px solid #ffeec9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
          box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
  -webkit-animation: light 4s forwards ease-out 1.5s infinite;
          animation: light 4s forwards ease-out 1.5s infinite;
}

.skills__wrapp-item-5 {
  background: #f4ffed;
  border: 1px solid #dbffc4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
          box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
  -webkit-animation: light 4s forwards ease-out 2s infinite;
          animation: light 4s forwards ease-out 2s infinite;
}

@-webkit-keyframes light {
  0% {
    -webkit-box-shadow: 0 0 80px rgba(247, 212, 223, 0.7);
            box-shadow: 0 0 80px rgba(247, 212, 223, 0.7);
  }
  25% {
    -webkit-box-shadow: 0 0 80px rgba(221, 255, 236, 0.7);
            box-shadow: 0 0 80px rgba(221, 255, 236, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 80px rgba(215, 241, 253, 0.7);
            box-shadow: 0 0 80px rgba(215, 241, 253, 0.7);
  }
  75% {
    -webkit-box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
            box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
            box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
  }
}

@keyframes light {
  0% {
    -webkit-box-shadow: 0 0 80px rgba(247, 212, 223, 0.7);
            box-shadow: 0 0 80px rgba(247, 212, 223, 0.7);
  }
  25% {
    -webkit-box-shadow: 0 0 80px rgba(221, 255, 236, 0.7);
            box-shadow: 0 0 80px rgba(221, 255, 236, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 80px rgba(215, 241, 253, 0.7);
            box-shadow: 0 0 80px rgba(215, 241, 253, 0.7);
  }
  75% {
    -webkit-box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
            box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
            box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
  }
}

.skills__wrapp-textbig {
  font-weight: 700;
  color: #000;
  margin-top: 30px;
}

.skills__wrapp-img {
  width: 70px;
  height: 70px;
  margin-top: 35px;
}
