@media (max-width: $level_1) {
   .header {
      &__avatar-bg {
         width: 1000px;
         left: -400px;
      }
   }
   .portfolio {
      &__project-width {
         width: 490px;
         height: 427px;
      }
      &__project-style {
         margin-left: 0;
      }
      &__img1 {
         width: 325px;
         height: 100%;
         margin-left: 10px;
         top: 20px;
      }
      &__img2 {
         width: 209px;
         height: 426px;
         left: 271px;
      }
   }
}

@media (max-width: $level_2) {
   .header {
      &__avatar-bg {
         width: 835px;
         left: -290px;
      }
   }
   .portfolio__projects {
      justify-content: space-around;
   }
   .skills__block {
      width: 933px;
      margin: 0 auto;
   }
}

@media (max-width: $level_3) {
   .header {
      &__top {
         justify-content: space-between;
      }
      &__body {
         min-height: 460px;
      }
      &__logo {
         width: 70px;
         height: 70px;
      }
      &__nav {
         margin-left: 30px;
      }
      .header__nav-item {
         margin-left: 20px;
      }

      &__avatar-bg {
         width: 835px;
         left: -310px;
      }
   }
   .bounce {
      width: 520px;
      left: 0;
      right: -16px;
      top: -106px;
   }
   .portfolio {
      &__project-width {
         width: 417px;
         height: 400px;
      }
      &__img1 {
         width: 270px;
         height: auto;
         top: 46px;
      }
      &__img2 {
         width: 180px;
         height: auto;
         top: 14px;
         left: 227px;
      }
   }
   .works {
      padding-bottom: 65px;
   }
   .works__wrapp {
      justify-content: center;
   }
   .project-code-margin {
      margin: 0 auto;
   }
   .contacts-h2 {
      padding-top: 50px;
   }
}
@media (max-width: $level_4) {
   .header {
      &__avatar {
         width: 476px;
         &-bg {
            width: 750px;
         }
      }

      &__nav {
         margin-left: 5px;
      }
   }
   .bounce {
      width: 100%;
      right: 0;
      top: -106px;
   }
   .about__wrapp .about0 {
      bottom: -36px;
      left: 60px;
   }
   .about__wrapp .about1 {
      top: 265px;
      left: 88px;
   }
   .about__wrapp .about2 {
      top: 35px;
      right: 60px;
   }
   .about__wrapp .about3 {
      top: 265px;
      right: 88px;
   }
   .skills__block {
      min-height: 343px;
      width: 100%;
   }
   .skills__block-gif {
      display: none !important;
   }
   .skills__wrapp {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
   }
   .portfolio {
      padding-bottom: 65px;
      &__projects {
         flex-direction: column;
         align-items: center;
         row-gap: 25px;
      }
   }
}
@media (max-width: $level_5) {
   .header {
      &__top {
         margin-top: 30px;
      }
      &__nav {
         display: flex;
         justify-content: flex-end;
         flex-wrap: wrap;
         margin-right: 37px;
         &-item {
            margin-left: 35px;
            line-height: 40px;
         }
      }
      &__logo {
         margin-left: 37px;
      }
      &__body {
         margin-top: 55px;
         display: block;
         text-align: center;
         padding-bottom: 60px;
      }
      &__h1 {
         font-size: 50px;
      }
      &__h3 {
         margin-bottom: 55px;
      }
      &__talk {
         padding: 15px 35px;
      }
      &__avatar {
         width: 370px;
         position: static;
         margin: 0 auto;
         &-bg {
            display: block;
            width: 600px;
            left: 117px;
            top: 285px;
         }
      }
   }
   .bounce {
      width: 100%;
      position: static;
   }
   .about__wrapp .about0 {
      display: none;
   }
   .about__wrapp .about2 {
      display: none;
   }
}
@media (max-width: $level_6) {
   .header {
      &__h3 {
         margin-top: 40px;
         margin-bottom: 65px;
      }
      &__avatar-bg {
         width: 538px;
         left: 25px;
         top: 328px;
      }
   }
   .about {
      &__wrapp {
         padding-top: 40px;
         &-content {
            max-width: 520px;
         }
      }
   }
}
@media (max-width: $level_7) {
   .header {
      &__logo {
         margin-left: 20px;
      }
      &__nav {
         margin-right: 10px;
         &-item {
            line-height: 34px;
         }
      }
      &__avatar-bg {
         width: 413px;
         top: 433px;
      }
   }
   .about {
      &__wrapp {
         &-test {
            padding: 0 10px;
         }
      }
   }
   .about__wrapp-pic {
      width: 86px;
   }
   .about__wrapp .about1 {
      top: 290px;
      left: 38px;
   }
   .about__wrapp .about3 {
      top: 290px;
      right: 38px;
   }
   .portfolio__project {
      width: 400px;
   }
   .portfolio__img1 {
      width: 245px;
      top: 57px;
   }
   .portfolio__img2 {
      left: 210px;
   }
   .works {
      &__project-code {
         font-size: 13px;
      }
      &__project-code-snake {
         height: 358px;
      }
   }
}
@media (max-width: $level_7) {
   .header {
      &__h1 {
         font-size: 44px;
         line-height: 58px;
      }
      &__avatar {
         width: 323px;

         &-bg {
            width: 358px;
            top: 401px;
            left: 13px;
         }
      }
   }
   .about__wrapp .about1 {
      top: 330px;
   }
   .about__wrapp .about3 {
      top: 330px;
   }
   .portfolio {
      &__project {
         width: 345px;
         &-width {
            height: 330px;
         }
      }
      &__img1 {
         width: 220px;
      }
      &__img2 {
         top: 0;
         left: 173px;
         width: 160px;
         height: 100%;
      }
      .scrin-height {
         height: 100%;
      }
   }
}
