.portfolio {
   background: url(/img/portfolio/portfolio-bg.png);
   padding-bottom: 50px;
   &__link {
      display: flex;
      justify-content: space-between;
   }
   &__projects {
      display: flex;
      justify-content: space-between;
   }
   &__project {
      width: 540px;
      height: 427px;
      display: flex;
      justify-content: space-between;
      position: relative;
      background: #f5def0;
      filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.3));
      border-radius: 10px;
      &-style {
         margin-left: 22px;
         background: #DADCF5;
      }
   }
   &__img1 {
      width: 340px;
      height: 400px;
      z-index: 1;
      margin-left: 12px;
      position: absolute;
      top: 27px;
   }
   &__img2 {
      width: 214px;
      height: 427px;
      position: absolute;
      left: 308px;
   }
   &__scrin {
      max-width: 100%;
      max-height: 100%;
   }
}
