.skills {
   background: linear-gradient(
      180deg,
      #f7f3fd1f 0%,
      #f6f9e70f 25%,
      #ffe42914 50%,
      #ff862f17 75%,
      #ddd7ec1a 90%,
      #f9f8e90a 100%
   );
   padding-bottom: 100px;
   &__wrapp {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      &-item {
         width: 170px;
         height: 170px;
         text-align: center;
         &-1 {
            background: #fff7fa;
            border: 1px solid #ffe7f0;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 0 80px rgba(247, 212, 223, 0.7);
            animation: light 4s forwards ease-out infinite;
         }
         &-2 {
            background: #edfff5;
            border: 1px solid #caffe1;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 0 80px rgba(221, 255, 236, 0.7);
            animation: light 4s forwards ease-out 0.5s infinite;
         }
         &-3 {
            background: #f5fcff;
            border: 1px solid #ddf5ff;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 0 80px rgba(215, 241, 253, 0.7);
            animation: light 4s forwards ease-out 1s infinite;
         }
         &-4 {
            background: #fffbf2;
            border: 1px solid #ffeec9;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
            animation: light 4s forwards ease-out 1.5s infinite;
         }
         &-5 {
            background: #f4ffed;
            border: 1px solid #dbffc4;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
            animation: light 4s forwards ease-out 2s infinite;
         }
      }
      @keyframes light {
         0% {
            box-shadow: 0 0 80px rgba(247, 212, 223, 0.7);
         }
         25% {
            box-shadow: 0 0 80px rgba(221, 255, 236, 0.7);
         }
         50% {
            box-shadow: 0 0 80px rgba(215, 241, 253, 0.7);
         }
         75% {
            box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
         }
         100% {
            box-shadow: 0 0 80px rgba(251, 237, 204, 0.7);
         }
      }

      &-textbig {
         font-weight: 700;
         color: #000;
         margin-top: 30px;
      }
      &-img {
         width: 70px;
         height: 70px;
         margin-top: 35px;
      }
   }
}
